#works{
  grid-area: main;
}
.plate{
  display: flex;
  height: 200px;
  border: 2px solid #3ea175;
  margin: 10px;
  border-radius: 15px;
  flex-direction: row;
  background-color: #191A19;
}
.plate .left-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
/* flex: 80%; */
}
.plate .left-p > a{
  padding: 3px 20px;
  border: rgba(62,161,117,0.3) 2px solid;
  margin: 0 !important;
  border-radius: 10px; 
  text-decoration: none;
  color: #3ea175;
}
.plate .left-p >a:hover{
  background-color: rgba(62,161,117,0.3);
  border:#3ea175 2px solid;
  color: #3ea175;
}
.plate .rp{
  width: 300px;
  height: 100%;
}
.plate .right-p{
  /* max-width: 600px; */
  min-width: 300px;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-position:center;
  background-size: cover;
 
}

@media only screen and (max-width:978px ){
  #works{
    display: flex;
    flex-wrap: wrap;
  }
  .plate{
    flex-direction: column;
    height: 400px;
    overflow: hidden;
    justify-content: space-between;
    flex:40%;
    max-width: 50%;
  }
  .plate .right-p{
    height: 100%;
  }
}

@media only screen and (max-width:480px){
 #works{
  flex-direction: column;
  flex-wrap: unset;
 }
 .plate{
   flex: 100%;
   max-width: 100%;
 }
}