/* Skills.css */

.skills-container {
  background-color: var(--bg-color-1);
  padding: 10px 5px;
  text-align: center;
}

.section-title {
  font-size: 1em;
  margin-bottom: 5px;
  color: var(--text-color-1);
}

.skills-chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-item {
  width: 130px;
  margin: 10px 0;
  padding: 7px;
  background-color: var(--bg-color-1);
  border: 1px solid var(--text-color-1);
  border-radius: 10px;
  box-shadow: 0px 4px 8px var(--bg-color-2);
}

.skill-name {
  font-size: 0.8em;
  color: var(--text-color-1);
}

.progress-container {
  background-color: var(--text-color-1);
  border-radius: 5px;
  height: 15px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  position: absolute;
  transition: width 0.5s ease-in-out;
  background: linear-gradient(
    90deg,
    var(--bg-color-2),
    var(--text-color-2)
  ); /* Gradient from red to yellow */
  color: var(--text-color-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-text {
  position: absolute;
  right: 5px;
}

@media (max-width: 600px) {
  .skill-item {
    width: 100%;
  }
  .skills-container {
    width: 100%;
  }
}
