.abouts {
  grid-area: main;
  /* display: flex; */
}
.hidden {
  display: none;
}
.section .contain {
  padding-top: 20px;
  padding-bottom: 70px;
  margin: 0 15px 0 15px;
}
.shape {
  height: 200px;
  width: 200px;
  border-radius: 75% 25% 33% 67% / 61% 60% 40% 39%;
  border: 4px solid var(--text-color-2);
  transform-origin: 50% 50%;
  background-color: var(--text-color-1);
  float: right;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.shape .profile {
  background-size: cover;
  background-position: center;
  /* position: absolute; */
  width: 130%;
}
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 60%;
  max-width: 60%;
}
.about .about-content .shape-con {
  flex: 0 0 40%;
  max-width: 40%;
  /* top: -35px; */
  position: relative;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-color-1);
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -15px;
  margin-right: -15px; */
  position: relative;
}
.about .about-content .about-text span {
  color: var(--text-color-2);
}
.about .about-content .about-text p {
  text-align: justify;
}
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 20px;
}
.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
  min-width: 200px;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  column-rule: var(--text-color-1);
  border-bottom: 1px solid var(--bg-color-2);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .buttons {
  flex: 0 0 50%;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
  font-weight: 800;
  margin-top: 40px;
}
.about .about-content .personal-info .buttons a {
  text-decoration: none;
  color: var(--text-color-1);
  border: 2px solid var(--text-color-2);
  padding: 10px 20px;
  border-radius: 7px;
}
.about .about-content .personal-info .buttons a:hover {
  background-color: var(--bg-color-2);
}
.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  min-width: 300px;
  margin-top: 20px;
}
.about .about-content .skills h4 {
  margin-left: 15px;
}

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  min-width: 400px;
}
.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-color-);
}
.about .about-content .education .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-color-2);
  padding: 30px 15px;
  border: 1px solid var(--text-color-2);
  border-radius: 10px;
  width: 90%;
  position: relative;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--text-color-2);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--text-color-2);
}
.about .about-content .timeline .timeline-date {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-color-1);
}
.about .about-content .timeline .timeline-date .fa {
  margin-right: 5px;
}
.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-color-1);
}
.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-color-1);
}
