.abouts{
    grid-area: main;
}
.shape{
    height: 300px;
    width: 300px;
    border-radius: 75% 25% 33% 67% / 61% 60% 40% 39% ;
    border: 4px solid #3ea175;
    transform-origin: 50% 50%;
    background-color: #a5aaad;
    float: right;
    margin: 10px;
    /* position: relative; */
    overflow: hidden;
}
.shape .profile{
    background-size: cover;
    background-position: center;
    /* position: absolute; */
    width: 130%;
}